.checkout{
	display: block;
	text-align: center;
	margin: 22px auto 0 auto;
	.logotype{
		max-width: 320px;
		margin: 20px auto 22px auto;
		.logo_account{
			max-width: 124px !important;
			margin-top: 4px;
		}
	}
	.checkout-header{
		nav{
			max-width: 212px;
			margin: 15px auto;
			.nav-item{
				a{
					border: 2px solid var(--light-white);
					border-radius: 50%;
					text-decoration: none;
					display: inline-block;
					width: 38px;
					height: 38px;
					text-align: center;
					padding-top: 4px;
					img{
						vertical-align: middle;
						width: 20px;
						height: 16px;
					}
				}
				.devider{
					display: inline-block;
					width: 20px;
					background: var(--light-white);
					height: 2px;
					vertical-align: middle;
				}
			}
			.nav-item.active{
				a{
					border-color: var(--dodger-blue);
					&:after{
						color: var(--dodger-blue);
					}
				}
				.devider{
					background: var(--dodger-blue);
				}
			}
		}
		.checkout-header-text{
			h2{
				font-size: 20px;
				font-weight: bold;
				color: var(--black);
				margin-bottom: 15px;
			}
		}
	}
	.checkout-body{
		background: var(--light-white);
		padding-top: 10px;
		padding-bottom: 51px;
		.desktop-header{
			font-size: 28px;
			font-weight: bold;
			color: var(--black);
			margin-top: 37px;
			margin-bottom: 19px;
			text-align: left;
			display: none;
		}
		#accordion{
			.card{
				.card-header{
					margin-bottom: 2px;
					background: var(--white);
					border: none;
					button{
						font-size: 16px;
						font-weight: bold;
						color: var(--black);
						width: 100%;
						text-align: left;
						padding: 0;
						text-decoration: none;
						position: relative;
						img,span{
							vertical-align: middle;
						}
						&:after{
							position: absolute;
							top: 50%;
							right: 0;
							content: "";
							border-top: .3em solid;
							border-right: .3em solid transparent;
							border-bottom: 0;
							border-left: .3em solid transparent;
						}
					}
					.collapsed{
						&:after{
							transform: rotate(-90deg);
						}
					}
				}
				.no-mb{
					margin-bottom: 0;
					border-bottom: 0;
				}
				.card-body{
					text-align: left;
					padding-top: 0;
					padding-bottom: 0;
					p{
						font-size: 13px;
						color: var(--dark-grey);
						margin-bottom: 15px;
						span{
							color: var(--dodger-blue);
							font-weight: bold;
						}
					}
					.read-more-handler{
						font-size: 12px;
						font-weight: bold;
						color: var(--dusk);
						text-decoration: underline;
						&:hover{
							color: var(--dodger-blue);
						}
					}
					.hidden-descr{
						height: 0;
						overflow: hidden;
						position: relative;
						&.shown-hidden{
							height: auto;
						}
						ul{
							margin: 0 0 18px 20px;
							li{
								list-style: initial;
								font-size: 14px;
								color: var(--dark-grey);
							}
						}
						a{
							font-size: 14px;
							text-decoration: underline;
							color: var(--dark-grey);
						}
					}
					.continue{
						font-size: 15px;
						font-weight: bold;
						padding-top: 10px;
						padding-bottom: 10px;
						background: var(--fresh-green);
						color: var(--white);
						display: block;
						text-align: center;
						margin: 23px 15px 30px 15px;
						text-decoration: none;
						&:hover{
							background: var(--green-hover);
						}
					}
					.continue.desktop{
						display: none;
					}
					form{
						.form-row{
							position: relative;
							.form-input{
								margin-top: 0;
								margin-bottom: 16px;
								padding: 12px 15px 10px 15px;
								-webkit-border-radius: 2px;
								-moz-border-radius: 2px;
								border-radius: 2px;
								border: solid 1px var(--dusk);
								font-size: 13px;
								font-weight: bold;
								font-style: normal;
								font-stretch: normal;
								line-height: 1.85;
								letter-spacing: normal;
								color: var(--dusk);
								&:focus{
									border-color: var(--dodger-blue);
								}
								&:focus ~ .form-label{
									left: 5px;
									top: -8px;
									color: var(--dodger-blue);
								}
								&:valid ~ .form-label{
									left: 5px;
									top: -8px;
								}
							}
							.form-label{
								cursor: pointer;
								display: block;
								text-align: left;
								position: absolute;
								padding-left: 5px;
								padding-right: 5px;
								background: var(--white);
								left: 15px;
								top: 15px;
								margin: 0;
								font-size: 11px;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: normal;
								letter-spacing: -0.2px;
								color: var(--dusk);
								transition: all .15s ease-in-out 0s;
							}
							.error-message{
								display: none;
							}
							.dropdown{
								margin-bottom: 16px;
								button{
									background: var(--white);
									color: var(--dusk);
									padding-top: 10px;
									padding-bottom: 10px;
									font-size: 12px;
									font-weight: bold;
									width: 100%;
									text-align: left;
									&:after{
										float: right;
										margin-top: 5px;
										border-top: .4em solid;
									}
								}
								a{
									font-size: 12px;
									font-weight: bold;
									&:active,
									&:hover{
										background: var(--dusk);
										color: var(--white);
									}
								}
								.dropdown-menu{
									width: 98%;
									@media(max-width: 540px){
										width: 97%;
									}
									@media(max-width: 460px){
										width: 96%;
									}
								}
							}
						}
						.charity{
							display: block;
						}
						.charity-hidden{
							display: none !important;
						}
						.disabled{
							input{
								opacity: .5;
							}
						}
						.requirements{
							margin-top: 20px;
							font-size: 12px;
							color: var(--dark-grey);
							.cheque{
								color: var(--black);
							}
							a{
								text-decoration: underline;
								color: var(--dodger-blue);
								&:hover{
									color: var(--dusk);
								}
							}
						}
						.req-mar{
							margin-bottom: 16px !important;
							margin-top: 0;
						}
						.read-more{
							font-size: 12px;
							font-weight: bold;
							color: var(--dusk);
							text-decoration: underline;
							transition: .25s;
							&:hover{
								color: var(--dodger-blue);
								text-decoration: none;
								transition: .25s;
							}
						}
						.error{
							.form-input{
								border: 1px solid var(--salmon);
								color: var(--salmon);
							}
							.form-label{
								color: var(--salmon);
							}
							.error-message{
								font-size: 11px;
								color: var(--salmon);
								margin-top: -10px;
								margin-bottom: 15px;
								width: 100%;
								display: block;
							}
						}
						.sm-link{
							font-size: 12px;
							font-weight: bold;
							color: var(--dodger-blue);
							text-decoration: underline;
							margin-bottom: 17px;
							display: block;
							text-align: center;
							transition: .25s;
							&:hover{
								color: var(--dusk);
								transition: .25s;
							}
						}
						.sm-link.hidden{
							display: none;
						}
						.fix-pad{
							padding-left: 10px;
							padding-right: 10px;
						}
						.note{
							background: var(--pale-sky-blue);
							padding-top: 10px;
							padding-bottom: 10px;
							display: flex;
							align-items: center;
							.note-img{
								img{
									vertical-align: middle;
								}
							}
							.note-text{
								font-size: 12px;
								color: var(--dark-grey);
								margin: 0;
							}
						}
						.form-row{
							input[type='submit']{
								padding-top: 10px;
								padding-bottom: 10px;
								font-size: 15px;
								font-weight: bold;
								color: var(--white);
								background: var(--fresh-green);
								width: 100%;
								margin: 17px 10px 31px 10px;
								transition: .25s;
								&:hover{
									background: var(--green-hover);
									transition: .25s;
								}
							}
						}
						.desktop{
							display: none;
						}
					}
					.empty-charity{
						.charity{
							display: none;
						}
					}
				}
			}
		}
		.order-summary{
			display: none;
		}
	}
}
@media(min-width: 992px){
	.checkout{
		margin: 82px auto 0 auto;
		.logotype{
			text-align: center;
			max-width: 252px;
			.logo_account{
				max-width: 252px !important;
			}
		}
		.checkout-header{
			nav{
				max-width: 457px;
				margin: 27px auto 60px auto;
				.nav-item{
					.devider{
						width: 80px;
					}
					strong{
						display: block;
						font-size: 14px;
						font-weight: bold;
						color: var(--light-grey);
						margin-top: 20px;
					}
					a{
						width: 54px;
						height: 54px;
						padding-top: 13px;
						position: relative;
						img{
							width: 28px;
							height: 28px;
						}
						&:after{
							content: 'Payment Options';
							position: absolute;
							top: 115%;
							left: -45px;
							width: 135px;
							color: var(--light-grey);
							font-weight: bold;
							font-size: 14px;
						}
					}
				}
				.nav-item.active{
					a{
						&:after{
							color: var(--dodger-blue);
						}
					}
					.devider{
						background: var(--dodger-blue);
					}
				}
			}
			.checkout-header-text{
				display: none;
			}
		}
		.checkout-body{
			padding-top: 0;
			padding-bottom: 246px;
			.desktop-header{
				display: block;
			}
			.card{
				border: 1px solid var(--light-grey) !important;
				margin-bottom: 6px;
				.card-header{
					border: none;
					margin: 0 !important;
				}
				.card-body{
					p{
						font-size: 14px !important;
						margin-bottom: 26px !important;
					}
					form{
						.requirements{
							margin-bottom: 0 !important;
						}
						.note{
							.note-text{
								margin-bottom: 0 !important;
								padding: 0;
							}
						}
						.mobile{
							display: none;
						}
						.desktop{
							display: block !important;
							input{
								width: 275px !important;
								float: right;
								margin-right: 0 !important;
							}
						}
					}
					.continue.mobile{
						display: none !important;
					}
					.continue.desktop{
						display: block !important;
						float: right;
						margin-top: 31px !important;
						margin-bottom: 22px !important;
						margin-right: 0 !important;
					}
				}
				.dropdown-menu{
					width: 96% !important;
				}
			}
			.order-summary{
				display: block;
				background: var(--white);
				border-top: 1px solid var(--light-grey);
				border-right: 1px solid var(--light-grey);
				border-left: 1px solid var(--light-grey);
				h2{
					font-size: 20px;
					font-weight: bold;
					color: var(--black);
					margin-top: 22px;
					margin-bottom: 18px;
				}
				.devider{
					height: 2px;
					background: var(--light-grey);
					width: 100%;
				}
				.descr{
					text-align: left;
					font-size: 14px;
					padding-top: 18px;
					padding-bottom: 18px;
					p{
						color: var(--black);
						margin-top: 5px;
						margin-bottom: 5px;
						font-weight: bold;
						span{
							font-weight: normal;
						}
					}
				}
				.final-price{
					padding-top: 20px;
					padding-bottom: 28px;
					p{
						font-size: 15px;
						font-weight: bold;
						color: var(--black);
					}
					h1{
						font-size: 60px;
						font-weight: bold;
						color: var(--dodger-blue);
						margin-top: 10px;
					}
				}
				.copy-parent{
					background: var(--light-white);
					padding-top: 19px;
					width: 111%;
					margin-left: -16px;
					background: var(--light-white);
					border-top: 1px solid var(--light-grey);
					@media(min-width: 1200px){
						width: 110%;
					}
					.copy{
						max-width: 280px;
						margin: auto;
						.copy-img{
							padding: 0;
							img{
								vertical-align: middle;
							}
						}
						.copy-text{
							font-size: 12px;
							color: var(--dark-grey);
							text-align: left;
						}
					}
				}
			}
		}
	}
}
