.checkout{
	.checkout-body{
		.reviewcomplete{
			.row{
				background: var(--white);
				text-align: left;
				padding-top: 22px;
				padding-bottom: 22px;
				margin-bottom: 2px;
				position: relative;
				h3{
					font-size: 16px;
					font-weight: bold;
					color: var(--black);
					margin-bottom: 8px;
				}
				p{
					font-size: 13px;
					margin-top: 7px;
					color: var(--dark-grey);
					span{
						font-weight: bold;
						color: var(--black);
					}
				}
				.edit{
					font-size: 12px;
					font-weight: bold;
					color: var(--dodger-blue);
					text-decoration: underline;
					position: absolute;
					top: 22px;
					right: 15px;
				}
				.links{
					margin-top: 20px;
					.blue{
						font-weight: bold;
						display: block;
						text-align: center;
						width: 100%;
						font-size: 15px;
						color: var(--white);
						padding-top: 10px;
						padding-bottom: 10px;
						text-decoration: none;
						transition: .25s;
						img{
							vertical-align: middle;
						}
						span{
							margin-left: 10px;
						}
						&.bg{
							background: var(--dodger-blue);
							&:hover{
								background: var(--blue-hover);
								transition: .25s;
							}
						}
						&.cl{
							color: var(--dodger-blue);
							border: 2px solid var(--dodger-blue);
							margin-bottom: 0;
							margin-top: 13px;
							&:hover{
								background: var(--dodger-blue);
								color: var(--white);
								transition: .25s;
							}
						}
					}
				}
				.total{
					color: var(--dodger-blue);
				}
			}
			.mobile-hidden{
				display: none;
			}
		}
		.bg-pay{
			background: var(--white);
			padding-left: 10px;
			padding-right: 10px;
		}
		.pay{
			margin-left: 0;
			margin-right: 0;
			border: 1px solid var(--light-grey);
			h3{
				text-align: center;
				font-size: 14px;
				font-weight: bold;
				color: var(--black);
				margin-top: 21px;
			}
			h1{
				text-align: center;
				font-size: 70px;
				color: var(--dodger-blue);
				font-weight: bold;
				margin-bottom: 22px;
			}
			form{
				display: block;
				width: 100%;
				.form-row{
					div{
						margin: auto;
					}
					input[type='checkbox']{
						width: 17px;
						height: 17px;
						margin-right: 10px;
						vertical-align: middle;
						display: none;
					}
					label{
						font-size: 12px;
						font-weight: bold;
						color: var(--dark-grey);
						margin-bottom: 0;
						cursor: pointer;
						a{
							color: var(--dodger-blue);
							text-decoration: underline;
						}
					}
					input[type=checkbox] + label:before {
						content: "";
						color: transparent;
						display: inline-block;
						border: 1px solid var(--light-grey);
						font-size: 20px;    
						line-height: 22px;
						margin: -5px 5px 0 0;
						height: 17px;
						width: 17px;
						text-align: center;
						vertical-align: middle;
						margin-right: 10px;
					}
					input[type=checkbox]:checked + label:before {
						background: url(/img/blue.svg);
						background-size: cover;
						background-position: center;
					}
					input[type=submit]{
						font-weight: bold;
						font-size: 15px;
						color: var(--white);
						background: var(--fresh-green);
						padding-top: 10px;
						padding-bottom: 10px;
						width: 100%;
						margin-top: 27px;
						&:hover{
							background: var(--green-hover);
						}
					}
				}
			}
			.copy{
				max-width: 210px;
				margin: 18px auto 29px auto;
				@media(min-width: 540px){
					max-width: initial;
				}
				.row{
					padding: 0;
					.copy-img{
						img{
							vertical-align: middle;
						}
					}
					.copy-text{
						font-size: 12px;
						color: var(--dark-grey);
						text-align: left;
					}
				}
			}
		}
	}
}
@media(min-width: 992px){
	.checkout{
		.checkout-body{
			.reviewcomplete{
				.row{
					margin-left: 5px;
					margin-right: 5px;
					margin-bottom: 6px;
					padding: 33px 27px;
					border: 1px solid var(--light-grey);
					form.row{
						padding: 0;
						border: 0;
						margin: 0;
						.form-row{
							input[type='checkbox']{
								width: 17px;
								height: 17px;
								margin-right: 10px;
								vertical-align: middle;
								display: none;
							}
							label{
								font-size: 12px;
								font-weight: bold;
								color: var(--dark-grey);
								margin-bottom: 0;
								cursor: pointer;
								a{
									color: var(--dodger-blue);
									text-decoration: underline;
								}
							}
							input[type=checkbox] + label:before {
								content: "";
								color: transparent;
								display: inline-block;
								border: 1px solid var(--light-grey);
								font-size: 20px;    
								line-height: 22px;
								margin: -5px 5px 0 0;
								height: 17px;
								width: 17px;
								text-align: center;
								vertical-align: middle;
								margin-right: 10px;
							}
							input[type=checkbox]:checked + label:before {
								background: url(/img/blue.svg);
								background-size: cover;
								background-position: center;
							}
							input[type=submit]{
								font-weight: bold;
								font-size: 15px;
								color: var(--white);
								background: var(--fresh-green);
								padding-top: 10px;
								padding-bottom: 10px;
								width: 100%;
								&:hover{
									background: var(--green-hover);
								}
							}
						}
					}
					.links{
						margin-top: 21px;
					}
				}
				.mobile-hidden{
					display: initial !important;
					vertical-align: middle;
				}
				.mobile-hidden.two{
					display: block !important;
				}
				.links{
					@media(min-width: 1140px){
						a{
							display: inline-block !important;
							&.bg{
								border: 2px solid transparent;
								margin-right: 12px;
							}
						}
					}
				}
			}
			.bg-pay{
				display: none;
			}
			.desktop-hidden{
				display: none;
			}
		}
	}
}