.collectionadress{
	.checkout-body{
		.row{
			p.blue{
				color: var(--dodger-blue);
				font-weight: bold;
			}
			p{
				a{
					text-decoration: underline;
				}
			}
		}
		.leave-safe-bg{
			background: transparent !important;
			display: none;
			.use-leave-safe{
				text-align: center;
				padding-top: 17px;
				display: none;
				a{
					font-size: 12px;
					font-weight: bold;
					text-decoration: underline;
					color: var(--dodger-blue);
					margin-bottom: 17px;
					display: block;
					transition: .25s;
					&:hover{
						color: var(--dusk);
						transition: .25s;
					}
				}
				p{
					text-align: left;
				}
				form{
					a{
						text-decoration: none;
					}
					button{
						width: 100% !important;
						margin: 16px 0 !important;
					}
					.dropdown-menu{
						width: 98%;
					}
					.form-row{
						position: relative;
						input{
							padding-top: 10px;
							padding-bottom: 90px;
							border: 1px solid var(--dark-grey);
							border-radius: 5px;
							font-size: 12px;
							color: var(--dusk);
							background: transparent;
							width: 100%;
							margin-top: 17px;
							margin-bottom: 17px;
							&:focus{
								border-color: var(--dodger-blue);
							}
						}
						label{
							cursor: pointer;
							display: block;
							text-align: left;
							position: absolute;
							padding-left: 5px;
							padding-right: 5px;
							background: var(--light-white);
							left: 15px;
							top: 30px;
							margin: 0;
							font-size: 11px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: normal;
							letter-spacing: -0.2px;
							color: var(--dusk);
							transition: all .15s ease-in-out 0s;
						}
						.form-input:focus ~ .form-label,
						.form-input:valid ~ .form-label{
							top: 8px;
							left: 5px;
						}
						.form-input:focus ~ .form-label{
							color: var(--dodger-blue);
						}
					}
				}
			}
			.leave-safe{
				padding-top: 10px;
				padding-bottom: 10px;
				color: var(--dodger-blue);
				font-weight: bold;
				font-size: 15px;
				display: block;
				border: 2px solid var(--dodger-blue);
				text-align: center;
				text-decoration: none;
				margin-top: 12px;
				transition: .25s;
				&:hover{
					background: var(--dodger-blue);
					color: var(--white);
					transition: .25s;
				}
				img{
					vertical-align: middle;
					margin-right: 10px;
					display: none;
				}
				span{
					vertical-align: middle;
				}
			}
		}
		form{
			width: 100%;
			.form-row{
				.dropdown{
					button{
						padding-top: 10px;
						padding-bottom: 10px;
						color: var(--dusk);
						font-weight: bold;
						font-size: 12px;
						background: none;
						margin: 14px 0 8px 15px;
						width: 92%;
						@media(min-width: 768px){
							width: 96%;
						}
						&:after{
							float: right;
							margin-top: 7px;
						}
					}
				}
				.dropdown-menu{
					width: 90%;
					background: var(--light-white);
					@media(min-width: 768px){
						width: 94%;
					}
					a{
						font-size: 12px;
						font-weight: bold;
						color: var(--dusk);
						margin: 0;
						&:hover,&:active{
							background: var(--dusk);
							color: var(--white);
						}
					}
				}
				p{
					text-align: center;
					width: 100%;
				}
				input[type=submit]{
					padding-top: 10px;
					padding-bottom: 10px;
					margin-top: 18px;
					background: var(--fresh-green);
					color: var(--white);
					font-size: 15px;
					font-weight: bold;
					transition: .25s;
					width: 100%;
					&:hover{
						background: var(--green-hover);
						transition: .25s;
					}
				}
			}
			.error-message{
				display: none;
			}
		}
	}
}
@media(min-width: 992px){
	.checkout{
		.checkout-body{
			.row{
				form{
					.form-row{
						input[type=submit]{
							width: 300px;
							margin-left: auto;
						}
					}
				}
			}
		}
	}
}