.checkout-final{
	.checkout-final-header{
		margin-top: 40px;
		margin-bottom: 28px;
		.row{
			text-align: center;
			img{
				vertical-align: middle;
				margin: auto;
			}
			h3{
				font-size: 16px;
				font-weight: bold;
				color: var(--black);
				margin-bottom: 11px;
			}
			p{
				font-size: 13px;
				color: var(--dark-grey);
			}
		}
		.headers{
			margin-top: 28px;
			margin-bottom: 28px;
			h1{
				font-size: 22px;
				font-weight: bold;
				color: var(--black);
				margin-bottom: 11px;
			}
			h2{
				font-size: 22px;
				font-weight: bold;
				color: var(--dodger-blue);
			}
		}
	}
	hr{
		margin: 0;
	}
	.checkout-final-body{
		.row{
			h1{
				font-size: 22px;
				font-weight: bold;
				text-align: center;
				color: var(--black);
				margin-top: 28px;
				margin-bottom: 21px;
			}
		}
		.services{
			.services-item{
				margin-bottom: 38px;
				.ser-item-img{
					text-align: center;
					img{
						max-width: 100%;
						width: 96px;
					}
				}
				.ser-item-text{
					font-size: 16px;
					font-weight: bold;
					color: var(--black);
				}
			}
		}
		.bg-findout{
			background: var(--light-white);
			.findout-parent{
				padding-top: 30px;
				padding-bottom: 24px;
				.findout{
					.findout-cont{
						.findout-img{
							text-align: center;
							img{
								max-width: 100%;
							}
						}
						.findout-text{
							font-size: 16px;
							color: var(--black);
							span{
								font-weight: bold;
							}
						}
					}
				}
				.findout-link{
					margin: 25px auto 0 auto;
					a{
						padding-top: 10px;
						padding-bottom: 10px;
						background: var(--dodger-blue);
						font-size: 15px;
						font-weight: bold;
						color: var(--white);
						text-align: center;
						text-decoration: none;
						display: block;
						transition: .25s;
						&:hover{
							background: var(--blue-hover);
							transition: .25s;
						}
					}
				}
			}
		}
	}
}
@media(min-width: 992px){
	.checkout-final{
		.checkout-final-header{
			margin-top: 65px;
			margin-bottom: 46px;
			.headers{
				margin-top: 33px;
				margin-bottom: 42px;
				h1{
					margin-bottom: 14px;
					font-size: 28px;
				}
				h2{
					font-size: 28px;
				}
			}
			.row{
				h3{
					font-size: 20px;
					margin-bottom: 10px;
				}
				p{
					font-size: 18px;
				}
			}
		}
		hr{
			height: 3px !important;
		}
		.checkout-final-body{
			.row{
				h1{
					margin-top: 44px;
					margin-bottom: 32px;
				}
			}
			.services{
				margin-bottom: 45px;
				.services-item{
					margin-bottom: 0;
					.ser-item-text{
						text-align: center;
						margin-top: 15px;
					}
				}
			}
			.bg-findout{
				.findout-parent{
					padding-top: 38px;
					padding-bottom: 38px;
					.findout-cont{
						.findout-text{
							font-weight: bold;
						}
					}
					.findout-link{
						margin-top: 0;
					}
				}
			}
		}
	}
}