main{
  .secure{
    display: none;
  }
}
.account-create {
  width: auto;
  height: auto;
  text-align: center;
  padding-bottom: 21px;
  .logotype{
    max-width: 320px;
    margin: 20px auto 22px auto;
    .logo_account{
      max-width: 124px !important;
      margin-top: 4px;
    }
  }
  .modal-container {
    max-width: 320px;
    margin: auto;
    h2 {
      margin: 0 0 18px 0;
      border: none;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.08;
      letter-spacing: -0.5px;
      text-align: center;
      color: var(--black);
    }
  }
  .logotype img {
    max-width: 252px;
    @media(max-width: 320px){
      max-width: 100%;
    }
  }
}
.form {
  .form-row {
    position: relative;

    &.half_width {
      input {
        max-width: 176px;
        @media(max-width: 365px){
          max-width: 50%;
        }
      }
      .form-button {
        max-width: 105px;
        float: right;
        margin-left: 19px;
        border: none;
        img{
          display: none;
        }
        @media(max-width: 365px){
          max-width: 50%;
          margin-left: 0;
        }
      }
    }

    .form-label {
      cursor: pointer;
      display: block;
      text-align: left;
      position: absolute;
      padding-left: 5px;
      padding-right: 5px;
      background: var(--white);
      left: 15px;
      top: 15px;
      margin: 0;
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.2px;
      color: var(--dusk);
      transition: all .15s ease-in-out 0s;
    }
    .form-input {
      display: block;
      width: 100%;
      margin-top: 0;
      margin-bottom: 16px;
      padding: 12px 15px 10px 15px;
      border-radius: 2px;
      border: solid 1px var(--dusk);

      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.85;
      letter-spacing: normal;
      color: var(--dusk);

      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #fff inset!important;
        background-color: #fff !important;
        background: none !important;
        color: var(--dusk) !important;
      }

      &[type="password"] {
        padding-right: 50px;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: var(--light-grey-two);
          font-weight: normal;
        }
      }
      
      &:focus ~ .form-label,
      &:valid ~ .form-label,
      &:-webkit-autofill ~ .form-label {
        left: 2%;
        top: -8px;
        font-size: 11px;
        color: var(--light-grey-two);;
        cursor: pointer;
      }
      &:focus ~ .form-label{
        color: var(--dodger-blue);
      }
      &:focus{
        border-color: var(--dodger-blue);
      }
    }
    
    

    &.success {
      .form-label {
        color: var(--dodger-blue) !important;
      }
      .form-input {
        color: var(--dodger-blue) !important;
        border-color: var(--dodger-blue);
      }
    }
    &.disable_btn {
      .form-button { 
        opacity: 0.5;
      }
    }
  }

  a{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: var(--dodger-blue);
    transition: .25s;
    margin-bottom: 22px;
    display: block;
    &:hover{
      color: var(--dusk);
      transition: .25s;
    }
  }
  .addres{
    margin-top: 18px;
    margin-bottom: 22px;
    p{
      font-size: 12px;
      color: var(--dusk);
      text-align: left;
      margin-top: 3px;
      margin-bottom: 9px;
    }
    .select-row{
      display: flex;
      justify-content: space-between;
    }
    .select-parent{
      position: relative;
      padding: 0;
      border: 1px solid var(--select-grey);
      border-radius: 5px;
      box-sizing: border-box;
      width: 31%;
      &:after{
        content: '\25BC';
        position: absolute;
        top: 12px;
        right: 5px;
        cursor: pointer;
        z-index: 100;
        @media(max-width: 300px){
          top: 0;
          right: 0;
        }
      }
      select{
        background: transparent;
        color: var(--select-grey);
        cursor: pointer;
        font-size: 13px;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        width: 100%;
        padding: 15px;
        @media(max-width: 300px){
          padding: 5px;
        }
        option{
          width: 100%;
        }
      }
    }
    .form-row{
      .tel{
        margin: 0;
      }
    }
  }
  
  .posts{
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    p{
      font-size: 12px;
      color: var(--dark-grey);
      text-align: left;
      margin-top: 18px;
      margin-bottom: 18px;
    }
    .checkboxes-parent{
      margin-top: 20px;
      margin-bottom: 24px;
      label{
       font-size: 12px;
       color: var(--dark-grey);
       display: block;
       margin-top: 15px;
       margin-bottom: 15px;
       text-align: left;
       cursor: pointer;
     }
     input{
      margin-right: 10px;
      vertical-align: middle;
      display: none;  
    }
    input[type=checkbox] + label:before {
      content: "";
      color: transparent;
      display: inline-block;
      border: 1px solid var(--light-grey);
      font-size: 20px;    
      line-height: 22px;
      margin: -5px 5px 0 0;
      height: 17px;
      width: 17px;
      text-align: center;
      vertical-align: middle;
      margin-right: 10px;
    }
    input[type=checkbox]:checked + label:before {
      background: url(/img/blue.svg);
      background-size: cover;
      background-position: center;
    }
  }
}
}
.margin-top-20{
  margin-top: 24px;
}

.form-button {
  height: 48px;
  background-color: var(--fresh-green);
  
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: center;
  color: var(--white);
  width: 100%;
  padding: 11px 0 9px 0;

  &.btn-blue {
    background-color: var(--dodger-blue);;
  }
}

.showhide {
  width: 22px;
  height: 20px;
  background: url(../img/on.png) 50% no-repeat;
  position: absolute;
  right: 5%;
  top: 15px;
  cursor: pointer;

  &:focus {
    background: url(../img/off.png) 50% no-repeat;
  }
}
.tips {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black);
  text-align: left;
  margin:13px 0;

  &.hide {
    display: none;
  }

  ul {
    margin:7px 0 0 0;
    list-style: none;

    li {
      padding: 5px 0 5px 20px;
      background: url(../img/off_bullet.png) 0% no-repeat;
      color: var(--dark-grey);

      &:nth-child(1) {
        background: url(../img/on_bullet.png) 0% no-repeat;
      }
      &:nth-child(2) {
        background: url(../img/on_bullet.png) 0% no-repeat;
      }
    } 
  }
}
.addres {
  label {
    text-align:left;
    display: block;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: var(--dusk);
  }
}

.valid{
  .form-button{
    span{
      display: none;
    }
    img{
      display: inline-block !important;
    }
  }
}
.address-finder{
  margin-bottom: 17px;
  display: none;
  .checkboxes-parent{
    border: 1px solid var(--medium-grey);
    label{
     font-size: 13px;
     color: var(--dark-grey);
     font-weight: normal;
     display: block;
     padding: 12px;
     margin-right: 2px;
     margin-left: 2px;
     margin: 0;
     border-top: 1px solid var(--medium-grey);
     text-align: left;
     cursor: pointer;
     max-width: 97%;
   }
   input{
    margin-right: 10px;
    vertical-align: middle;
    display: none;  
  }
  input[type=checkbox] + label:before {
    content: "";
    color: transparent;
    display: inline-block;
    border: 1px solid var(--light-grey);
    font-size: 20px;    
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 17px;
    width: 17px;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
  }
  input[type=checkbox]:checked + label:before {
    background: url(/img/blue.svg);
    background-size: cover;
    background-position: center;
  }
  a{
    border-top: 1px solid var(--medium-grey);
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0;
  }
}
}
.border-none{
  border-top: none !important;
}
.show-address-finder{
  .address-finder{
    display: block;
  }
}
.address-lines{
  display: none;
}
.show-address-lines{
  .address-lines{
    display: block;
  }
}

.sign-in-form {
  .deskr a, .forgot-password {
    display: inline;
  } 
}
@media(min-width: 992px){
  main{
    position: relative;
    .account-create{
      margin-top: 82px;
      margin-bottom: 171px;
      .logotype{
        text-align: center;
        max-width: 252px;
        margin-bottom: 50px;
        padding: 0;
        .logo_account{
          max-width: 252px !important;
        }
        .secure-mob{
          display: none;
        }
      }
      .modal-container{
        h2{
          margin-bottom: 32px;
        }
      }
    }
    .secure{
      display: block;
      position: absolute;
      top: -50px;
      right: 20px;
    }
  }
}