.final-create-account{
	.join{
		max-width: 320px;
		text-align: center;
		margin: 40px auto 55px auto;
		h2{
			font-size: 22px;
			font-weight: bold;
			color: var(--black);
			margin-top: 28px;
		}
		p{
			font-size: 13px;
			color: var(--dark-grey);
			margin-top: 20px;
			margin-bottom: 20px;
		}
		h3{
			font-size: 16px;
			font-weight: bold;
			color: var(--black);
			margin-bottom: 14px;
		}
		.links{
			div{
				a{
					font-size: 15px;
					font-weight: bold;
					color: var(--white);
					padding-top: 13px;
					padding-bottom: 13px;
					transition: .25s;
					margin-left: -15px;
					margin-right: -15px;
					@media(max-width: 340px){
						margin: 0;
					}
				}
				.green{
					background: var(--fresh-green);
					display: block;
					&:hover{
						background: var(--green-hover);
						transition: .25s;
					}
				}
				.blue{
					background: var(--dodger-blue);
					display: block;
					margin-top: 9px;
					&:hover{
						background: var(--blue-hover);
						transition: .25s;
					}
				}
			}
		}
	}
	.join-img{
		display: none;
		img{
			width: 100%;
			height: auto;
		}
	}
}
@media(min-width: 992px){
	.final-create-account{
		.join{
			max-width: 611px;
			h2{
				margin-top: 33px;
				font-size: 28px;
			}
			p{
				margin-top: 8px;
				margin-bottom: 41px;
				font-size: 18px;
				br{
					display: none;
				}
			}
			h3{
				margin-bottom: 18px;
				font-size: 20px;
			}
			.links{
				div{
					a{
						margin: 0 !important;
					}
				}
			}
		}
		.join-img{
			display: block;
		}
	}
}