footer.footer {
  background-color: #191c22;
  padding: 20px 0 ;

  .heading {
    background-color: #191c22;
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 700;
    color: #fff;
    line-height: 3em;
    border-bottom: 1px solid #555;
    width: 98%;
    cursor: pointer;
    padding-left: 20px;
    background: url(../img/footer-minus.png) right no-repeat #191c22 !important;

    &.collapsed {
      background: url(../img/footer-plus.png) right no-repeat #191c22 !important;
    }
  }
  .copyright {
    width: 90%;
    padding: 15px 0;
    margin: 0 auto;
    clear: both;
    text-align: center;
    color: #fff;
    font-size: .7em;
    font-weight: 400;
    background: url(../img/plus_active.png) -9999px -9999px no-repeat;
    .stronger{
        font-weight: 700;
    }
    a {
      color: #fff;
      text-decoration: underline;

      &:hover {
        text-decoration:none;
      }
    }
  }
  ul {
    transition: all .15s ease-in-out 0s;
    list-style: none;
    background: #191c22;
    margin-bottom: 0;
    font-size: 12px;
    margin-top: 12px;

    li {
      color: #fff;
      margin-bottom: 5px;
      padding: 5px 0 5px 20px;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
    &.social_list li {
      margin-bottom: 10px;
      background-repeat: no-repeat;
      background-position: left;
      padding: 5px 0 5px 28px;
      margin-left: 20px;

      &.bullet_fb {
      background-image: url(/img/bullet_fb.png);
      }
      &.bullet_tw {
          background-image: url(/img/bullet_tw.png);
      }
      &.bullet_pin {
          background-image: url(/img/bullet_pin.png);
      }
      &.bullet_gp {
          background-image: url(/img/bullet_gp.png);
      }
      &.bullet_yt {
          background-image: url(/img/bullet_yt.png);
      }
      &.bullet_wp {
          background-image: url(/img/bullet_wp.png);
      }
    }
  }
} 
.white {
    color: var(--white);
}
.underline {
    text-decoration: underline;
}
sup{
    vertical-align: initial;
}

@media only screen and (min-width:992px) {
  footer.footer { 
    padding: 20px 0 ;

    .heading {
      color: #fff;
      line-height: 3em;
      border-bottom: 1px solid transparent;
      width: auto;
      cursor: auto;
      padding-left: 0px;
      background: none !important;

      &.collapsed {
        background: none !important;
      }
    }
    ul {
      display: block !important;
      margin-top: 12px;

      li {
         margin-bottom: 1px;
        padding: 2px 0 2px 0px;
     
      }
      &.social_list li {
        margin-bottom: 2px;
        padding: 2px 0 2px 27px;
        margin-left: 0px;
      }
    }
    .copyright {
      border-top: grey solid 1px;
      margin-top: 30px;
    }
  }
}