.forgotten-password{
	.modal-container{
		h2{
			margin-bottom: 12px;
			margin-top: 24px;
		}
		p{
			font-size: 13px;
			color: var(--dark-grey);
			margin-bottom: 22px;
		}
		input[type='submit']{
			&:hover{
				background: var(--green-hover);
			}
		}
		span{
			font-size: 12px;
			color: var(--dark-grey);
			display: block;
			margin-top: 28px;
			a{
				display: initial;
			}
		}
		a{
			font-size: 12px;
			font-weight: bold;
			color: var(--dodger-blue);
			transition: .25s;
			margin-top: 28px;
			display: block;
			text-decoration: underline;
			&:hover{
				color: var(--dusk);
				transition: .25s;
			}
		}
	}
}
.fp-step-2{
	margin-top: 129px !important;
	margin-bottom: 129px !important;
}
@media(min-width: 992px){
	.forgotten-password{
		.modal-container{
			max-width: initial;
			h2{
				margin-bottom: 17px !important;
				margin-top: 26px;
			}
			p{
				width: 425px;
				margin: auto;
				font-size: 18px;
			}
			.form{
				max-width: 320px;
				margin: 38px auto 47px auto;
			}
		}
	}
}