  .showSideNavButton {
    cursor: pointer;
    z-index: 1000;
  }
  @media(max-width: 990px){
    .closedMainMenu{
      left: -540px !important;
      transition: .25s;
    }
    .desktop-menu{
      display: none;
    }
    .mainNavigationWrapper{
      width: 270px;
      position: fixed;
      z-index: 100;
      background: #2b2f32;
      top: 0;
      height: 100%;
      overflow: auto;
      left: -270px;
      overflow-x: hidden;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      .shopsell{
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: var(--white);
        background: var(--black);
        background: #165b90;
        font-weight: 600;
        line-height: 3.5em;
        &:hover{
          background: #10456d;
          text-decoration: none;
        }
      }
      .active-page{
        background: #41acff;
        &:hover{
          background: #009dd7;
        }
      }
      #navit{
        width: 100%;
        li{
          font-size: .875em;
          a{
            display: block;
            padding: 15px;
            font-weight: bold;
            color: var(--grey-light);
            &:hover{
              text-decoration: none;
              background-color: #23272a;
              color: #fff;
            }
          }
        }
        .sellConsoles{
          display: none;
        }
        .closedSubList{
          position: fixed;
          left: -270px;
          top: 0;
          width: 270px;
          height: 100%;
          background: #2b2f32;
          z-index: -1000;
          display: none;
          li{
            font-size: 14px;
            opacity: 0;
          }
          .backToMainMenu{
            background: #999;
            img{
              vertical-align: middle;
            }
            span{
              padding-left: 15px;
              color: #fff;
              vertical-align: middle;
            }
          }
        }
        .openedSubList{
          left: -270px;
          z-index: 1000;
          display: block;
          overflow-y: auto;
          li{
            opacity: 1;
          }
        }
        .closedSubList.second{

        }
        .menu-item{
          border-bottom: 1px solid #23272a;
        }
        .register-sign-in{
          background: var(--fresh-green);
          a{
            color: #fff;
            &:hover{
              background: var(--fresh-green);
            }
          }
        }
        .handler{
          overflow: hidden;
          position: relative;
          &:after{
            content: '';
            position: absolute;
            top: 19px;
            right: 19px;
            width: 13px;
            height: 13px;
            background: transparent url(../img/arrow.png) no-repeat scroll right center;
          }
          &:hover:after{
            background: url(../img/arrow-hover.png) right no-repeat;
          }
        }
        .closeMenu{
          position: relative;
          &:after{
            content: '';
            position: absolute;
            top: 5px;
            right: 2px;
            width: 30px;
            height: 30px;
            background: url(../img/pulloutcross_grey.png);
            background-size: cover;
            cursor: pointer;
          }
        }
        .openedHandler{
          max-height: initial;
          &:after{
            transform: rotate(90deg);
            transition: .25s;
          }
          .header{
            background: #23272a;
          }
        }
        .activeHeader{
          background: #23272a;
        }
      }
    }
  }
  .main_page {
    display: block;
    position: relative;

    transition: all .65s ease-in-out 0s;
  }
  .main_pageChange {
    transform: translateX(260px);
    overflow-x: hidden;
  }
  .main_pageChangeClose {
    display: block;
    position: fixed;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 260px;
    z-index: 999;
  }
  .buyAndSell,
  .header_image,
  .acount_block {
    display: none;
  }
  header {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--white);
    padding: 9px 0; 

    .container {
      max-width: none;
    }
    .row {
      flex-wrap: nowrap;
    }

    .showSideNavButton {
      float: left;
      width: 45px;
      height: 47px;
      display: block;
      border-right: 1px solid #ccc;
      padding: 17px 0 15px 5px;
      img {
        width: 22px;
      }
    }
    .logo {
      padding: 19px 0 11px 15px;
      display: inline-block;
      img {
        max-width: 85px;
        width: 100%;
      }
    }
    .cart {
     float: right;
     padding: 12px 10px;
     height: 47px;

     .basket {
      em {
        font-style: normal;
        display: inline-block;
        vertical-align: middle;
        padding: 12px 15px 12px 0;
        color: #191c22;
        background-image: url(../img/basketicon.png);
        background-position: 0% 50%;
        background-repeat: no-repeat;
        background-size: 21px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        width: 21px;
        height: 21px;
        position: relative;

        .badge {
          position: absolute;
          top: -7px;
          right: -11px;
          width: 22px;
          height: 22px;
          padding: 0;
          font-size: 100%;

          &:before {
            background: #41acff;
            border-radius: 50%;
            color: #fff;
            content: attr(data-count);
            font-size: 11px;
            text-align: center;
            display: block;
            width: 22px;
            height: 22px;
            line-height: 22px;
          }
        }
      }
      span {
        display: none;
      } 
    }
  }
  .acount_link {
    float: right;
    margin: 0 0 0 9px;
    border-left: 1px solid #ccc;
    padding: 15px 0 15px 12px;
    height: 47px;
    a {
      display: inline-block;
      float: right;
      height: 21px;
      width: 21px;
      background-image: url(../img/registericon.png);
      background-repeat: no-repeat;
      background-size: cover;

      span {
        display: none
      }
    }
  }
}

@media(min-width: 540px){
  header .acount_link{
    padding: 14px 12px;
  }
  header .cart{
    padding: 12px 12px;
  }
  header .logo{
    padding: 16px 0 11px 15px;
    img{
      max-width: 125px;
    }
  }
}
.features{
  background: var(--light-white);
  @media(max-width: 540px){
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .features-cont{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media(max-width: 420px){
      max-width: 250px;
    }
    .features-item{
      display: flex;
      align-items: center;
      margin: auto;
      margin-top: 15px;
      margin-bottom: 15px;
      @media(max-width: 1000px){
        margin-top: 5px;
        margin-bottom: 5px;
      }
      @media(max-width: 540px){
        margin-bottom: 15px;
      }
      @media(max-width: 420px){
        width: 100%;
      }
      h3{
        margin: 0;
        font-size: 14px;
        font-weight: bold;
        margin-left: 15px;
      }
      img{
        width: 30px;
      }
      .feature-item-big-img{
        width: auto;
      }
    }
  }
}
@media only screen and (min-width: 990px) {
  .closeMenu{
    display: none;
  }
  header {
    .container {
      max-width: 960px;
    }
  }
  .mainNavigationWrapper{
    left: 0 !important; 
  }
  .mainNavigationWrapper .container {
    max-width: 100%;
  }
  .mainNavigationWrapper,
  .buyAndSell,
  .header_image,
  .acount_block .heading,
  .acount_block {
    display: block;  
  }

  header {
    padding: 16px 0 14px;
    .logo {
      padding-bottom: 0;
      img {
        max-width: 180px;
      }
    }
    .cart {
      .basket { 
        span {
          display: inline-block;
          font-size: 15px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.3px;
          color: var(--black);
          margin: 0px 0 0 15px;
        }
      }
    }
    .buyAndSell {
      display: inline-block;
      max-width: 165px;
      width: 100%;
      margin-left: 40px;
      @media(max-width: 1200px){
        margin-left: 0;
      }
      .sell, .shop {
        float: left;
        max-width: 80px;
        height: 68px;
        width: 100%;
        text-align: center;
        padding: 15px 4px 0;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-top: 2px solid var(--dark-grey-two);
        border-left: 2px solid var(--dark-grey-two);
        border-right: 2px solid var(--dark-grey-two);
        margin-bottom: -35px;

        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: center;
        color: var(--dark-grey-two);

        span {
          position: relative;
          padding: 0 3px;
          &:before {
            content: '';
            position: absolute;
            bottom: -4px;
            width: 100%;
            left: 0;
            height: 2px;
            opacity: 0;
          }
        }

        &:hover, &.active {
          background-color: var(--dark-grey-two);
          color: var(--white);

          span:before {
            background: #fff;
            opacity: 1;
            transition: .25s;
          }
        }
        &.active:hover {
          background-color: var(--white);;
          color: var(--dark-grey-two);

          span:before {
            background:var(--dark-grey-two);
            opacity: 1;
            transition: .25s;
          }
        }

        
      }

    }
    .header_image {
      display: inline-block;
      margin: 15px 0 0 15px;
      @media(max-width: 1200px){
        margin-left: 0;
      }
      &.header2 {
        max-width: 122px;
        margin-top: 8px;
      }
    }
    .acount_link {
      display: none;
    }
    .showSideNavButton {
      display: none;
    }
    .acount_block {
      float: right;
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      color: var(--black);
      padding:7px 0 9px 53px;
      border-left: 1px solid #ccc;
      background: url(../img/registericon.png) no-repeat 16px 15px;
      background-size: 20px;
      flex-direction: column;
      margin-left: 15px;

      .heading {
        display: block;
      }
      .links {
        display: block;
        margin-top: -4px;

        a {
          font-size: 11px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.2px;
          color: #2c2c2c;

          &:first-child {
            border-right:1px solid #2c2c2c  ;
            padding: 0 4px 0 0;
          }
        }
      }
      
    }
  }



  .mainNavigationWrapper {
    width: 100%;
    height: 36px;
    background-color: var(--dark-grey-two);
    clear: both;
    position: relative;
    z-index: 1;
  }

  .mainNavigationContent {
    margin: auto;

    height: 36px;
    padding: 0 20px;
    font-size: .75em;
    font-weight: 600;
    ul {
      padding: 0;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      li {
        display: inline-block;
        float: none;
      }
    }
  }

  #navit {
    a, li:hover > ul, &:after {
      display: block;
    }
  }

  .mainNavigationContent ul li a {
    color: #fff;
    text-align: left;
    display: block;
    text-decoration: none;
    padding: 0 12px;
    &:hover {
      text-decoration: none;
      background-image: url(/media/navigation/nav_hover.gif);
      background-repeat: repeat-x;
      background-position: top;
    }
  }

  #navit {
    display: flex;
    justify-content: space-between;
    li {
      padding: 0 0 8px;
      position: relative;
      list-style: none;
      z-index: 5000;
    }
    a {
      margin: 0;
      padding: 10px 15px 9px;
      text-decoration: none;
    }
    ul li a {
      padding: 8px 20px;
    }
    .current a {
      background: #41acff none repeat scroll 0 -40px;
    }
    li:hover {
      > a {
        background: #41acff none repeat scroll 0 -40px;
      }
      li a {
        border-bottom: 1px solid #ccc;
        box-shadow: none;
        color: #666;
        width: 217px;
      }
    }
    ul {
      li:hover a {
        border-bottom: 1px solid #ccc;
        box-shadow: none;
        color: #666;
        width: 217px;
      }
      a:hover {
        border-radius: 0;
        color: #fff !important;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      }
      li {
        &.has-child a:hover {
          border-radius: 0;
          color: #fff !important;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        }
        ul li.has-child a:link, &.has-child a:link {
          background: transparent url(../img/arrow.png) no-repeat scroll right center;
        }
        ul li.has-child li a {
          &:hover, &:link {
            background: 0 0;
          }
        }
        &.has-child li a {
          &:hover, &:link {
            background: 0 0;
          }
        }
        ul li {
          a:link, &:hover {
            background-image: none;
          }
        }
        &.has-child li.has-child li a:hover {
          background-image: none;
        }
      }
      a:hover {
        background: #41acff none repeat scroll 0 0;
      }
      li {
        &.has-child {
          li a:hover {
            background-color: #41acff;
          }
          a:hover, li.has-child a:hover {
            background: url(../img/arrow-hover.png) right no-repeat #41acff;
          }
        }
        float: none;
        margin: 0;
        padding: 0;
      }
      display: none;
      margin: 0;
      padding: 0;
      width: 221px;
      position: absolute;
      top: 36px;
      left: 0;
      background: #fff;
      border: 1px solid #fff;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      a {
        font-weight: 400;
        text-shadow: 0 1px 0 #fff;
      }
      ul {
        left: 221px;
        top: -1px;
        z-index: 100;
      }
      li {
        ul li {
          &:first-child > a {
            &:after, &:hover:after {
              content: '';
              border: 1px solid transparent;
            }
          }
          &:last-child > a {
            border-color: #fff;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            &:hover {
              border-color: #fff;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
        }
        &.has-child:last-child > a:hover, &:last-child > a {
          border-color: #fff;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
    &:after {
      content: ".";
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
    margin: 0;
  }
}

@media (min-width: 1200px) {
  header, .mainNavigationWrapper {
    .container {
      max-width: 1140px;
    }
  }
  
}
.buyAndSell{
  a{
    text-decoration: none;
  }
}
.basket{
  &:hover{
    text-decoration: none;
  }
}