.selling-basket{
	.desktop-header{
		display: none;
		font-size: 26px;
		font-weight: bold;
		color: var(--black);
		span{
			color: var(--dodger-blue);
		}
	}
	.advert{
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		color: var(--white);
		background: var(--dusk);
		padding-top: 9px;
		padding-bottom: 9px;
		span{
			color: var(--golden-yellow)
		}
	}
	.product{
		.product-heading{
			padding-top: 23px;
			.product-text{
				font-size: 15px;
				font-weight: bold;
				span{
					color: var(--dodger-blue);
				}
			}
			.product-img{
				img{
					max-width: 100%;
				}
			}
		}
		.product-listing{
			h3{
				margin-top: 0;
				margin-bottom: 13px;
				font-size: 14px;
				font-weight: bold;
				text-align: center;
				color: var(--black);
			}
			ul{
				text-align: center;
				li{
					a{
						padding: 5px 10px;
						margin-bottom: 5px;
						display: block;
						border: 2px solid var(--medium-grey);
						transition: .25s;
						@media(max-width: 320px){
							padding: 5px;
						}
						&:hover{
							border-color: var(--dusk);
							transition: .25s;
						}
						img{
							vertical-align: middle;
						}
					}
				}
				.checked{
					a{
						border-color: var(--dusk);
					}
				}
			}
		}
		.edition{
			h3{
				margin-top: 13px;
				margin-bottom: 13px;
				font-size: 14px;
				font-weight: bold;
				text-align: center;
				color: var(--black);
			}
			.nav{
				padding-left: 0;
				padding-right: 0;
				width: 100%;
				margin: 0;
				.nav-item{
					text-align: center;
					font-size: 12px;
					font-weight: bold;
					padding: 0;
					a{
						color: var(--dusk);
						border: 1px solid var(--dusk);
						padding: 16px;
						border-radius: 0;
						transition: 0;
						&:hover{
							background: var(--pale-sky-blue);
						}
						img{
							display: none;
						}
					}
					a.active{
						background: var(--dusk);
						position: relative;
						color: var(--white);
						&:after{
							content: '';
							position: absolute;
							width: 33px;
							height: 20px;
							background: var(--dusk);
							clip-path: polygon(50% 100%, 0 0, 100% 0);
							bottom: -10px;
							left: 40%;
							@media(max-width: 500px){
								left: 40%;
							}
							@media(max-width: 400px){
								left: 30%;
							}
						}
					}
				}
			}
			.tab-content{
				margin-top: 29px;
				.tab-pane{
					font-size: 12px;
					color: var(--black);
					ul{
						padding-left: 17px;
						li{
							list-style: initial;
						}
					}
					span{
						color: var(--dodger-blue);
						font-weight: bold;
					}
				}
			}
		}
		.note{
			padding: 13px;
			background: var(--pale-sky-blue);
			width: 100%;
			margin: 0;
			margin-top: 21px;
			margin-bottom: 21px;
			.note-text{
				font-size: 12px;
				font-style: italic;
				color: var(--black);
			}
		}
		.results{
			text-align: center;
			background: var(--light-white);
			padding-top: 21px;
			padding-bottom: 31px;
			h3{
				font-size: 14px;
				font-weight: bold;
				color: var(--black);
			}
			h1{
				font-size: 55px;
				font-weight: bold;
				color: var(--dodger-blue);
				margin-top: 6px;
				margin-bottom: 18px;
			}
			a{
				font-size: 15px;
				font-weight: bold;
				padding-top: 11px;
				padding-bottom: 11px;
				transition: .25s;
				text-decoration: none;
				display: block;
			}
			.green{
				background: var(--fresh-green);
				color: var(--white);
				&:hover{
					background: var(--green-hover);
					transition: .25s;
				}
			}
			.blue{
				border: 1px solid var(--dodger-blue);
				color: var(--dodger-blue);
				margin-top: 6px;
				&:hover{
					color: var(--white);
					background: var(--dodger-blue);
					transition: .25s;
				}
			}
			.quote{
				margin-top: 27px;
				.quote-text{
					font-size: 12px;
					color: var(--black);
					text-align: left;
					span{
						font-weight: bold;
					}
				}
			}
			.product-features{
				text-align: left;
				display: none;
				h2{
					font-size: 22px;
					font-weight: bold;
					color: var(--black);
				}
				.product-features-devider{
					height: 1px;
					width: 100%;
					background: var(--dusk);
					margin-left: -8px;
					margin-right: -8px;
				}
				.features-list{
					p{
						font-size: 16px;
						font-weight: bold;
						.feature{
							color: var(--black);
						}
						.value{
							color: var(--dodger-blue);
						}
					}
				}
			}
		}
	}
	.devider{
		height: 1px;
		width: 100%;
		background: var(--dusk);
	}
	.management{
		border-top: none;
		h2{
			font-size: 14px;
			font-weight: bold;
			text-align: center;
			color: var(--black);
			margin-top: 16px;
			margin-bottom: 20px;
		}
		.management-item{
			margin-bottom: 13px;
			.management-item-img{
				img{
					max-width: 75px;
					@media(max-width: 540px){
						max-width: 50px;
					}
				}
			}
			.management-item-text{
				font-size: 12px;
				color: var(--black);
				line-height: 1.67;
				h3{
					font-weight: bold;
					margin-bottom: 5px;
				}
			}
		}
	}
	content{
		.container{
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
}

@media(min-width: 992px){
	.selling-basket{
		.desktop-header{
			display: block;
			margin-top: 33px;
			margin-bottom: 33px;
		}
		.product{
			max-width: 1440px;
			.product-heading{
				.product-text{
					display: none;
				}
			}
			.product-info{
				h3{
					text-align: left;
					font-size: 18px;
					margin-bottom: 14px;
					margin-top: 20px;
				}
			}
			.product-listing{
				ul{
					margin: 0;
					li{
						padding-left: 5px;
						padding-right: 5px;
						a{
							margin-bottom: 8px;
							@media(min-width: 1140px){
								padding: 16px 40px;
							}
						}
					}
				}
			}
			.edition{
				.nav{
					.tab-content{
						.tab-pane{
							font-size: 14px;
						}
					}
					.nav-item{
						a{
							font-size: 16px;
						}
						a.active{
							img{
								display: inline-block;
								vertical-align: middle;
								margin-right: 5px;
							}
						}
					}
				}
			}
			.note{
				margin-bottom: 48px;
			}
			.devider{
				display: none;
			}
			.results{
				padding-top: 31px;
				padding-bottom: 26px;
				.product-features{
					display: block;
				}
				h3{
					font-size: 16px;
				}
			}
		}
		.advert{
			display: none;
		}
		.management{
			padding-top: 30px;
			padding-bottom: 30px;
			border-top: 1px solid var(--pale-sky-blue);
			h2{
				font-size: 22px;
				margin-bottom: 30px;
				margin-top: 0;
			}
			.management-item{
				text-align: center;
				margin-bottom: 0;
				.management-item-img{
					img{
						max-width: initial;
					}
				}
				.management-item-text{
					font-size: 15px;
					line-height: 2em;
					h3{
						font-size: 16px;
						margin-top: 20px;
						margin-bottom: 10px;
					}
				}
			}
		}
		content{
			.container{
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}
	}
}