// selected product-popup
.selected{
	background-color: rgba(123, 203, 88, 0.9);
	color: var(--white);
	position: absolute;
	width: 100%;
	top: 72px;
	.selected-descr{
		margin-top: 12px;
		margin-bottom: 12px;
		line-height: 1;
		.descr-img{
			img{
				width: 17px;
			}
		}
		p{
			font-size: 14px;
			font-weight: bold;
		}
		span{
			font-size: 12px;
			font-weight: 600;
		}
	}
	.selected-price{
		font-size: 20px;
		font-weight: bold;
	}
}
@media(min-width: 992px){
	.selected{
		top: 118px;
		.selected-descr{
			margin-top: 15px;
			margin-bottom: 15px;
			.descr-img{
				text-align: right;
				padding: 0;
			}
		}
	}
}
.selling-page-one{
	text-align: center;
	.headers{
		display: none;
	}
	h3{
		font-size: 12px;
		font-weight: bold;
		color: var(--dusk);
		padding-top: 13px;
		padding-bottom: 13px;
		background: var(--light-white);
		margin-top: 2px;
	}
	.tabs{
		.nav{
			margin-bottom: 0 !important;
			width: auto;
			padding: 0;
			align-items: flex-end !important;
		}
		.nav-item{
			padding: 0;
			a{
				font-size: 12px;
				font-weight: bold;
				height: 100%;
				border-radius: 0;
				border: 2px solid var(--medium-grey);
				background: var(--dusk);
				color: var(--white);
				img{
					width: 56px;
					vertical-align: middle;
				}
			}
			a.active{
				background: var(--white);
				color: var(--dusk);
				border: none;
			}
		}
		.tab-content{
			.recommended{
				margin-top: 18px;
				margin-bottom: 18px;
				.recommended-img{
					img{
						max-width: 100%;
					}
				}
				.recommended-text{
					span{
						font-weight: bold;
					}
					font-size: 12px;
					color: var(--dusk);
					text-align: left;
				}
			}
			.download{
				font-size: 15px;
				font-weight: bold;
				color: var(--white);
				background: var(--fresh-green);
				padding-top: 11px;
				padding-bottom: 11px;
				display: block;
				transition: .25s;
				text-decoration: none;
				&:hover{
					background: var(--green-hover);
					transition: .25s;
				}
			}
			.devider{
				display: block;
				margin: 10px auto 12px auto;
				color: var(--grey-light);
				div{
					position: relative;
					&:after{
						position: absolute;
						content: '';
						width: 100%;
						height: 1px;
						background: var(--grey-light);
						left: 0;
						top: 13px;
						z-index: -1;
					}
					span{
						padding: 10px;
						background: var(--white);
						text-transform: uppercase;
						font-weight: bold;
						font-size: 12px;
					}
				}
			}
			.form{
				p{
					font-size: 13px;
					color: var(--dusk);
					margin-top: 12px;
					margin-bottom: 20px;
					span{
						color: var(--dodger-blue);
						font-weight: bold;
					}
				}
				form{
					a{
						margin: 17px auto;
						color: var(--dusk);
						&:hover{
							color: var(--dodger-blue);
						}
					}
					.find{
						padding: 0;
					}
					.form-row{
						margin: 0;
						input[type='submit']{
							font-size: 15px;
							font-weight: bold;
							color: var(--white);
							padding-top: 11px;
							padding-bottom: 11px;
							transition: .25s;
							margin-bottom: 26px;
							background: var(--fresh-green);
							&:hover{
								background: var(--green-hover);
								transition: .25s;
							}
							
						}
						.desktop-label{
							display: none;
						}
						.form-half-width{
							@media(max-width: 340px){
								padding: 0;
							}
							input{
								margin: 0;
							}
							input[type='submit']{
								background: var(--dodger-blue);
								height: 100%;
								transition: .25s;
								&:hover{
									background: var(--blue-hover);
									transition: .25s;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media(min-width: 992px){
	.selling-page-one{
		.headers-cont{
			max-width: 1350px;
			.headers{
				display: flex;
				padding-top: 21px;
				padding-bottom: 21px;
				h1{
					font-size: 28px;
					font-weight: bold;
					color: var(--black);
				}
			}
		}
		h3{
			display: none;
		}
		.tabs-header{
			padding-top: 52px;
			background: var(--light-white);
			border-bottom: 1px solid var(--medium-grey);
		}
		.tabs{
			.nav{
				margin: auto;
				margin-bottom: -1px !important;
			}
			.nav-item{
				a{
					border: 2px solid var(--medium-grey);
					font-size: 20px;
					padding-top: 17px;
					padding-bottom: 17px;
					.fix-pad{
						display: block;
						padding-top: 20px;
					}
					br{
						display: none;
					}
					img{
						width: 80px;
					}
				}
				a.active{
					height: 100px;
					padding-top: 25px;
					border-top: 1px solid var(--medium-grey);
					border-left: 1px solid var(--medium-grey);
					border-right: 1px solid var(--medium-grey);
				}
			}
			.tab-content{
				.recommended{
					margin-top: 31px;
					.recommended-text{
						font-size: 16px;
						color: var(--black);
					}
				}
				.download{
					max-width: 275px;
					margin: auto;
				}
				.devider{
					margin-top: 32px;
					margin-bottom: 32px;
					div{
						span{
							font-size: 16px;
						}
						&:after{
							height: 2px;
							top: 11px;
						}
					}
				}
				.form{
					margin: auto;
					p{
						font-size: 18px;
						color: var(--black);
					}
					form{
						.form-row{
							.desktop-label{
								display: block;
								font-size: 16px;
							}
							.mobile-label{
								display: none;
							}
							.form-half-width{
								margin-top: 21px;
								margin-bottom: 21px;
								padding: 0;
								input[type='text']{
									padding: 18px 31px;
									border: solid 2px var(--dodger-blue);
								}
								input[type='submit']{
									margin-left: -2px;
								}
								input:focus ~ .form-label,
								input:valid ~ .form-label{
									top: -11px;
									left: 10px;
									color: var(--dodger-blue);
								}
								.form-label{
									top: 19px;
									left: 31px;
								}
							}
							.go-to-basket{
								display: none;
							}
							a{
								margin-bottom: 52px;
								margin-top: 0;
							}
						}
					}
				}
			}
		}
	}
}


.sp-step-3{
	.tab-content{
		.form{
			p{
				margin-top: 18px;
				margin-bottom: 18px;
			}
			a{
				margin-bottom: 0 !important;
			}
			.form-row{
				.go-to-basket{
					display: block !important;
					margin: 21px auto 0 auto !important;
					background: var(--fresh-green);
					font-size: 15px;
					font-weight: bold;
					color: var(--white);
					padding-top: 11px;
					padding-bottom: 11px;
					text-decoration: none;
					transition: .25s;
					&:hover{
						background: var(--green-hover);
						color: var(--white);
						transition: .25s;
					}
				}
			}
		}
		.download{
			display: none !important;
		}
		.recommended{
		}
	}
}
@media(min-width: 992px){
	.sp-step-3{
		.tab-content{
			.form{
				p{
				}
				.form-row{
					a{
						margin-bottom: 0 !important;
					}
					.go-to-basket{
						max-width: 275px;
						margin-bottom: 21px !important;
						margin-top: 0 !important;
					}
				}
			}
			.download{
				display: none !important;
			}
			.devider{
				margin-top: 35px !important;
				margin-bottom: 43px !important;
			}
			.recommended{
				margin-bottom: 78px !important;
			}
		}
	}
}