.product-popup-parent{
	background: rgba(65, 64, 89, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
	.product-popup-desktop{
		display: none;
	}
	.product-popup-mobile{
		background: var(--white);
		max-width: 320px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@media(max-width: 380px){
			width: 280px;
		}
		.close{
			margin-top: 15px;
			margin-bottom: 24px;
			.handler{
				float: right;
				cursor: pointer;
				img{
					width: 14px;
					height: 14px;
					vertical-align: middle;
				}
			}
		}
		.product-popup-heading{
			padding-left: 15px;
			padding-right: 15px;
			.product-popup-heading-img{
				padding: 0;
				img{
					vertical-align: middle;
					width: 17px;
				}
			}
			.product-popup-heading-text{
				padding-left: 5px;
				padding-right: 0;
				font-size: 20px;
				font-weight: bold;
				color: var(--black);
			}
		}
		.product-popup-info{
			margin-top: 30px;
			margin-bottom: 30px;
			.product-popup-info-img{
				width: 30px;
				padding: 0;
				text-align: center;
				img{
					max-width: 100%;
				}
			}
			.product-popup-info-text{
				h3{
					font-size: 16px;
					font-weight: bold;
					color: var(--black);
				}
				.blue{
					color: var(--dodger-blue);
				}
				div{
					font-size: 14px;
					letter-spacing: -0.3px;
					color: var(--black);
					margin-top: 5px;
					margin-bottom: 5px;
					p{
						span{
							font-weight: 600;
						}
					}
				}
			}
		}
		.devider{
			height: 1px;
			background: rgba(65, 64, 89, 0.8);
		}
		.total{
			text-align: center;
			p{
				font-size: 16px;
				margin-top: 17px;
				margin-bottom: 17px;
				color: var(--black);
				span{
					font-weight: bold;
					color: var(--dodger-blue);
				}
			}
			a{
				padding-top: 11px;
				padding-bottom: 11px;
				transition: .25s;
				width: 100%;
				font-size: 15px;
				font-weight: bold;
				text-decoration: none;
				display: block;
				&:hover{
					transition: .25s;
				}
			}
			.green{
				background: var(--fresh-green);
				color: var(--white);
				&:hover{
					background: var(--green-hover);
				}
			}
			.blue{
				border: 1px solid var(--dodger-blue);
				color: var(--dodger-blue);
				margin-top: 6px;
				margin-bottom: 6px;
				&:hover{
					background: var(--dodger-blue);
					color: var(--white);
				}
			}
		}
	}
}
@media(min-width: 992px){
	.product-popup-parent{
		position: initial;
		width: 320px;
		position: absolute;
		height: auto;
		top: 191px;
		right: 64px;
		z-index: 2;
		display: none;
		@media(min-width: 1400px){
			right: 217px;
		}
		@media(min-width: 1600px){
			right: 380px;
		}
		.product-popup-mobile{
			display: none;
		}
		.product-popup-desktop{
			display: block;
			background: var(--white);
			border: solid 2px var(--light-grey);
			.navigation{
				.handler{
					cursor: pointer;
					img{
						vertical-align: middle;
					}
				}
				.cart{
					.basket{
						font-size: 15px;
						font-weight: bold;
						color: var(--black);
						em{
							display: inline-block;
							vertical-align: middle;
							padding: 12px 15px 12px 0;
							color: #191c22;
							background-image: url(/img/basketicon.png);
							background-position: 0% 50%;
							background-repeat: no-repeat;
							-webkit-background-size: 21px 21px;
							-moz-background-size: 21px;
							background-size: 21px;
							font-weight: bold;
							font-style: normal;
							font-stretch: normal;
							line-height: normal;
							width: 21px;
							height: 21px;
							position: relative;
							.badge{
								position: absolute;
								top: -7px;
								right: -11px;
								width: 22px;
								height: 22px;
								padding: 0;
								font-size: 100%;
								&:before{
									background: #41acff;
									-webkit-border-radius: 50%;
									-moz-border-radius: 50%;
									border-radius: 50%;
									color: #fff;
									content: attr(data-count);
									font-size: 11px;
									text-align: center;
									display: block;
									width: 22px;
									height: 22px;
									line-height: 22px;
								}
							}
						}
						span{
							margin-left: 10px;
						}
					}
				}
			}
			.dev-pad{
				padding: 0 !important;
			}
			.row{
				padding-top: 10px;
				padding-bottom: 10px;
				.devider{
					height: 1px;
					background: var(--light-grey);
				}
				p{
					font-size: 14px;
					font-weight: bold;
					color: var(--black);
				}
				h2{
					font-size: 18px;
					font-weight: bold;
					color: var(--black);
					img{
						vertical-align: middle;
					}
					span{
						margin-left: 10px;
					}
				}
			}
			.pp-text{
				margin-bottom: 25px;
				.row{
					font-weight: bold;
					padding: 0;
					.price{
						font-size: 16px;
						color: var(--dodger-blue);
					}
					.year{
						font-size: 16px;
						color: var(--black);
					}
					p{
						color: var(--black);
						margin-top: 4px;
						padding: 0;
						span{
							font-weight: bold;
						}
					}
				}
			}
			.links{
				.row{
					padding: 0;
					a{
						font-size: 15px;
						font-weight: bold;
						text-align: center;
						color: var(--white);
						padding-top: 11px;
						padding-bottom: 11px;
						text-decoration: none;
						background: var(--fresh-green);
						transition: .25s;
						&:hover{
							background: var(--green-hover);
							transition: .25s;
						}
					}
					.sm-link{
						font-size: 12px;
						color: var(--black);
						transition: .25s;
						padding: 0;
						margin-top: 14px;
						margin-bottom: 14px;
						background: none;
						text-decoration: underline;
						&:hover{
							color: var(--dodger-blue);
							transition: .25s;
							background: none;
						}
					}
				}
			}
		}
	}
}
.show{
		display: block !important;
}