.tech1{
	.listing-products{
		max-width: 975px;
		margin: auto;
		li{
			font-weight: bold;
			margin-top: 15px;
			margin-bottom: 15px;
			font-size: 12px;
			p{
				margin-top: 10px !important;
				margin-bottom: 10px !important;
				font-style: initial;
				color: var(--dusk);
			}
			a{
				padding-top: 11px;
				padding-bottom: 11px;
				border: 2px solid var(--dark-grey);
				color: var(--dark-grey);
				text-decoration: none;
				display: block;
				transition: .25s;
				&:hover{
					color: var(--white);
					background: var(--dark-grey);
					transition: .25s;
				}
			}
		}
		p{
			font-style: italic;
			font-weight: bold;
			color: var(--black);
			margin: 15px auto 20px auto;
			font-size: 12px;
			a{
				text-decoration: underline;
				color: var(--dusk);
				transition: .25s;
				&:hover{
					text-decoration: none;
					color: var(--dodger-blue);
					transition: .25s;
				}
			}
		}
	}
	.filters{
		margin-top: 15px;
		margin-bottom: 15px;
		.dropdown{
			margin-top: 5px;
			margin-bottom: 5px;
			a{
				font-size: 12px;
			}
			.btn{
				color: var(--dusk);
				background: var(--white);
				border: 2px solid var(--dusk);
				border-radius: 5px;
				font-weight: bold;
				width: 100%;
				padding: 10px;
				@media(min-width: 540px) and (max-width: 768px){
					padding: 5px;
				}
				&:after{
					float: right;
					margin-top: 7px;
					color: var(--black);
				}
			}
			.dropdown-menu{
				width: 94%;
				@media(min-width: 540px){
					width: 89%;
				}
				.dropdown-item:active,
				.dropdown-item:hover{
					color: var(--white);
					background: var(--dusk);
				}		
			}
		}
		input[type='submit']{
			padding-top: 11px;
			padding-bottom: 11px;
			background: var(--dodger-blue);
			color: var(--white);
			margin-top: 5px;
			margin-bottom: 5px;
			width: 100%;
			font-weight: bold;
			font-size: 12px;
			transition: .25s;
			&:hover{
				background: var(--blue-hover);
				transition: .25s;
			}
		}
	}
}
@media(min-width: 992px){
	.tech1{
		.tabs{
			.tab-content{
				.form{
					p{
						margin-top: 24px;
						margin-bottom: 0;
					}
					.row{
						form{
							margin-top: 15px;
							margin-bottom: 15px;
						}
					}
				}
			}
		}
		.listing-products{
			li{
				font-size: 16px;
				margin-top: 25px;
				margin-bottom: 25px;
			}
			p{
				margin: 40px auto 30px auto;
				font-size: 16px;
			}
		}
		.filters{
			margin-top: 30px;
			margin-bottom: 30px;
			.dropdown{
				margin: 0;
				a{
					font-size: 16px;
				}
				.btn{
					&:after{
						margin-top: 11px;
					}
				}
			}
			input[type='submit']{
				font-size: 16px;
				margin: 0;
				height: 100%;
			}
		}
	}
}