.sign-in{
	display: block;
	text-align: center;
	margin: 22px auto 25px auto;
	.logotype{
		max-width: 320px;
		margin: 20px auto 22px auto;
		.logo_account{
			max-width: 124px !important;
			margin-top: 4px;
		}
	}
	h2{
		border: none;
		font-size: 24px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.08;
		letter-spacing: -0.5px;
		text-align: center;
		color: var(--black);
		margin-top: 0;
		margin-bottom: 24px;
	}
	.sign-in-form{
		margin: 0 auto;
	}
	.form{
		width: auto;
		max-width: 320px;
		margin: 0 auto;
		.forgot-password{
			text-decoration: underline;
			font-weight: bold;
			font-size: 12px;
			color: var(--dodger-blue);
			transition: .25s;
			&:hover{
				color: var(--dusk);
				transition: .25s;
			}
		}
		.form-row{
			.send{
				width: 100%;
				padding-top: 13px;
				padding-bottom: 13px;
				background: var(--fresh-green);
				color: var(--white);
				font-size: 15px;
				font-weight: bold;
				margin-top: 25px;
				margin-bottom: 25px;
				border: none;
				transition: .25s;
				img{
					margin-right: 5px;
				}
				&:hover{
					background: var(--green-hover);
					transition: .25s;
				}
			}
			.text-error{
				display: none;
			}
		}
		.error{
			.form-input{
				border-color: var(--salmon);
				color: var(--salmon);
				&:focus ~ .form-label{
					color: var(--salmon);
				}
			}
			.form-label{
				color: var(--salmon) !important;
			}
			.showhide{
				background: url(/img/footer-plus.png);
			}
			.text-error{
				font-size: 11px;
				color: var(--salmon);
				text-align: left;
				display: block;
			}
		}
		.deskr{
			font-size: 12px;
			line-height: 1.5;
			color: var(--dusk);
			max-width: 231px;
			margin: 0 auto;
			transition: .25s;
			a{
				text-decoration: underline;
				&:hover{
					color: var(--dusk);
					transition: .25s;
				}
			}
		}
	}
	.devider{
		display: block;
		max-width: 319px;
		margin: 21px auto 18px auto;
		color: var(--grey-light);
		div{
			position: relative;
			&:after{
				position: absolute;
				content: '';
				width: 100%;
				height: 1px;
				background: var(--grey-light);
				left: 0;
				top: 13px;
				z-index: -1;
			}
			span{
				padding: 5px;
				background: var(--white);
				text-transform: uppercase;
				font-weight: bold;
				font-size: 12px;
			}
		}

	}
	.custumer-login{
		h2{
			margin-top: 0;
			margin-bottom: 15px;
			color: var(--dusk);
		}
		a{
			color: var(--white);
			text-decoration: none;
			padding-top: 13px;
			padding-bottom: 9px;
			display: block;
			margin: auto;
			max-width: 319px;
			transition: .25s;
			&:hover{
				background-color: var(--blue-hover);
				color: #fff;
				text-decoration: none;
				transition: .25s;
			}
		}
	}
}

@media(min-width: 992px){
	main{
		position: relative;
		.secure-mob{
			position: absolute;
			top: -50px;
			right: 20px;
		}
	}
	.sign-in{
		margin-top: 82px;
		margin-bottom: 171px;
		.logotype{
			text-align: center;
			max-width: 252px;
			.logo_account{
				max-width: 252px !important;
			}
		}
		.sign-in-form{
			padding-top: 30px;
			padding-bottom: 30px;
		}
		.devider{
			max-width: 100px;
			margin: 0 auto;
			div{
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				span{
					padding: 10px;
				}
				&:after{
					width: 1px;
					height: 100%;
					top: 0;
					left: 50%;
				}
			}
		}
	}
}