@import "reset.css";
@import "header.scss";
@import "footer.scss";
@import "create-account.scss";
@import "sign-in.scss";
@import "create-account_step11.scss";
@import "selling-basket.scss";
@import "selling-basket_step1.scss";
@import "selling-basket_step4.scss";
@import "selling-basket_tech1.scss";
@import "forgotten-password.scss";
@import "checkout.scss";
@import "checkout_step7.scss";
@import "checkout_step8.scss";
@import "checkout_collectionadress.scss";

* {
  outline: none;
}

body {
	font-weight: normal;
  font-family: open sans, Helvetica, Arial, sans-serif !important;
  min-height: auto;
  overflow-x: hidden;
}

img {
  vertical-align: top;
}

.clearfix {

	&:after {
		display: block;
		clear: both;
		content: '';
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background: #fff;
	min-height: 32px;
	margin: 0;
	padding: 4px 10px 4px 10px;
	border: 1px solid #000;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	line-height: 20px;
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #000;

	&::-webkit-input-placeholder {
		color: #000;
	}

	&:-moz-placeholder {
		opacity: 1;
		color: #000;
	}

	&::-moz-placeholder {
		opacity: 1;
		color: #000;
	}

	&:-ms-input-placeholder {
		color: #000;
	}

}

input[type="submit"],
input[type="reset"] {
	min-height: 32px;
	margin: 0;
	padding: 5px 15px;
	border: none;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	transition: background 0.8s, color 0.8s;
	line-height: 20px;
	font-family: Arial, sans-serif;
	font-size: 18px;
	cursor: pointer;

	&:hover {
		transition: background 0.4s, color 0.4s;
	}

}


:root {
  --dodger-blue: #41acff;
  --golden-yellow: #fec123;
  --pale-sky-blue: #c7e6ff;
  --dusk: #414059;
  --salmon: #ff6666;
  --fresh-green: #7bcb58;
  --light-white: #f4f4f4;
  --black: #000000;
  --pale: #f9e0d9;
  --white: #ffffff;
  --light-grey: #dddddd;
  --medium-grey: #c6c6c6;
  --dark-grey: #4a4a4a;
  --very-light-grey: #eaeaea;
  --dark-grey-two: #191c22;
  --grey-light: #cccccc;
  --green-hover: #6FBC4B;
  --blue-hover: #00aeef;
  --select-grey: #a7a7a7;
}
/* Text styles */
.Mobile-H1 {
  font-family: open sans,Helvetica,Arial,sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--dusk);
}
.Mobile-H2 {
  font-family: open sans,Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  color: var(--black);
}
.Mobile-H2 {
  font-family: open sans,Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black);
}
.Mobile-H3 {
  font-family: open sans,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: var(--black);
}
.MaterialLightSubhead {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}
.Mobile-Body {
  font-family: open sans,Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: var(--dark-grey);
}
.Mobile-Caption {
  font-family: open sans,Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--dark-grey);
}
.Mobile-H4 {
  font-family: open sans,Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black);
}
.Mobile-Text-Link {
  font-family: open sans,Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  text-align: center;
  color: var(--dodger-blue);
}
.Mobile-Callout {
  font-family: open sans,Helvetica,Arial,sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-grey);
}